<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gchclient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <gchclient.Properties.Settings>
            <setting name="PrimKey" serializeAs="String">
                <value>public</value>
            </setting>
            <setting name="SecKey" serializeAs="String">
                <value>public</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FrWnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrWnOverride" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowGlobKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowQuickBtns" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopySIDiN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUpdateTime" serializeAs="String">
                <value>2012-04-05</value>
            </setting>
            <setting name="EnableAutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hotkey" serializeAs="String">
                <value>F11</value>
            </setting>
            <setting name="AllowClipbCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoreList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="UseSteamIDv3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InventoryViewer" serializeAs="String">
                <value>0</value>
            </setting>
        </gchclient.Properties.Settings>
    </userSettings>
</configuration>